<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
   @* <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <a href="~/lib/bootstrap/css/bootstrap.css.map">~/lib/bootstrap/css/bootstrap.css.map</a>
    <a href="~/lib/bootstrap/css/bootstrap.min.css.map">~/lib/bootstrap/css/bootstrap.min.css.map</a>*@    
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body bgcolor="grey">
    <div class="container">
        @RenderBody()
    </div>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>
</html>
